Repository facebookresearch/minihack, pull requests merged in 2025-02, with the labels that each got.

#110 NLE 1.1.0 Upgrade
  .github/workflows/test_and_deploy.yml
  .github/workflows/test_package.yml
  .gitignore
  README.md
  docker/Dockerfile.valgrind
  docs/about/nethack.md
  docs/envs/ported/sokoban.md
  docs/getting-started/action_spaces.md
  docs/getting-started/des_files.md
  docs/getting-started/installation.md
  docs/getting-started/interface.md
  docs/getting-started/trying_out.md
  minihack/agent/common/envs/wrapper.py
  minihack/agent/polybeast/evaluate.py
  minihack/agent/polybeast/polybeast_env.py
  minihack/agent/polybeast/polybeast_learner.py
  minihack/agent/rllib/envs.py
  minihack/agent/rllib/models.py
  minihack/base.py
  minihack/envs/__init__.py
  minihack/envs/keyroom.py
  minihack/envs/minigrid.py
  minihack/reward_manager.py
  minihack/scripts/cached_env_test.py
  minihack/scripts/collect_env.py
  minihack/scripts/env_list.py
  minihack/scripts/play.py
  minihack/scripts/play_gui.py
  minihack/scripts/venv_demo.py
  minihack/tests/test_envs.py
  minihack/tests/test_system.py
  minihack/tiles/rendering.py
  minihack/tiles/tile_test.ipynb
  setup.py
Labels: CLA Signed, tests, envs, docker, core

#106 Fix MiniHack-MiniGrid environment size constraints
  minihack/envs/minigrid.py
Labels: CLA Signed, envs

#108 Fix: process page data
  minihack/wiki.py
Labels: CLA Signed, core

#112 Bump up MiniHack version
  version.txt
Labels: CLA Signed

#114 Disabling scheduled github actions
  .github/workflows/test_and_deploy.yml
Labels: CLA Signed

#113 Update README.md
  README.md
Labels: CLA Signed
